@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ça évite que l’écran "rebouge" sur le côté */
  scroll-behavior: smooth;
}

